<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/bg_landing.svg' | relative_url }}'); background-color: #01002D;"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
          <h3 class="display-4" style="color:ghostwhite;">Research to Production AI</h3>
          <p class="lead mt-0" style="color:#5be7c3;">We grow businesses with AI.</p> 
          <p class="lead mt-0" style="color:ghostwhite;">Our experienced team advise on strategy, the art of the possible, and use the best of breed technologies. We design, build and deploy state-of-the-art intelligent systems for our clients.</p>
          <br>
          <div class="buttons">
            <a href="#contact" class="btn btn-primary" style=color:#01002D;background-color:#5be7c3;border-color:#5be7c3;>
              Get in touch
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="section features-1" id="our-process">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <span class="badge badge-primary badge-pill mb-3" style="background-color: #5acef2;">Our process</span>
        <h3 class="display-3">From Concept to Execution</h3>
        <p class="lead">We work with your executives to identify high-impact AI opportunities, build strategy and create a company-wide roadmap. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
            <i class="ni ni-settings-gear-65"></i>
          </div>
          <h6 class="info-title text-uppercase text-primary">Research</h6>
          <p class="description opacity-8">We leverage the latest research papers to produce state-of-the-art results. We also conduct novel research and create patents to increase your business value and competitive advantage.</p>
          <a href="#contact" class="text-primary">More about us
            <i class="ni ni-bold-right text-primary"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
            <i class="ni ni-atom"></i>
          </div>
          <h6 class="info-title text-uppercase text-success">Development</h6>
          <p class="description opacity-8">Our team rapidly develop high-throughput, fault-tolerant real-time AI systems using best-of-breed technologies. This includes using agile best practices, setting up data pipelines, ML Ops and CI/CD.</p>
          <a href="#contact" class="text-primary">Learn about our process
            <i class="ni ni-bold-right text-primary"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
            <i class="ni ni-world"></i>
          </div>
          <h6 class="info-title text-uppercase text-warning">Production</h6>
          <p class="description opacity-8">We set up advanced metrics to ensure reliability and performance of the AI system. Using A/B testing we continually track and optimise to ensure systems learn and realise the full potential of AI.</p>
          <a href="#contact" class="text-primary">Realise AI's full potential
            <i class="ni ni-bold-right text-primary"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br><br>
  <div class="section features-2" id="services">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-8 mr-auto text-left">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mb-5">
              <i class="ni ni-atom"></i>
            </div>
            <h3>Services</h3>
            <p>From a one-off consultation to an end-to-end solution, we have a service that will fit your needs.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="ni ni-world-2"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Complete AI life-cycle solutions</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="ni ni-check-bold"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Built-in AI governance, fairness and compliance</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3">
                      <i class="ni ni-key-25"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Retain control over your enterprise data</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-7 col-md-12 pl-md-0">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-info shadow">
                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-satisfied text-info"></i>
                </div>
                <h5 class="info-title text-white">Feasibility Study</h5>
                <p class="description">Evaluating the latest state-of-the-art from research, we perform experiments to determine the art of the possible.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-danger info-raised shadow">
                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-palette text-danger"></i>
                </div>
                <h5 class="info-title text-white">Proof of Concept</h5>
                <p class="description">Working with your data, we train models and build a stand-alone software solution to prove our hypotheses.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-default shadow">
                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-spaceship text-default"></i>
                </div>
                <h5 class="info-title text-white">Minimum Viable Product</h5>
                <p class="description">We rapidly develop a high-throughput, fault-tolerant, real-time pared-down solution to satisfy all technical and business metrics.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-primary shadow">
                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-planet text-primary"></i>
                </div>
                <h5 class="info-title text-white">Scaling and Integration</h5>
                <p class="description">Deploying to your preferred cloud infrastructure, we coordinate with your DevOps teams on scaling and integration.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-warning info-raised shadow">
                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-settings text-warning"></i>
                </div>
                <h5 class="info-title text-white">ML Ops</h5>
                <p class="description">By setting up automated data and machine learning pipelines, we iteratively increase your product / service scope, functionality and performance.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-success shadow">
                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-sound-wave text-success"></i>
                </div>
                <h5 class="info-title text-white">Optimisation</h5>
                <p class="description">We set up advanced metrics to ensure reliability and performance, and A/B testing to continually track and optimise the AI system.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section features-4" id="specialisations">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center mx-auto">
        <h3 class="display-3">Specialisations</h3>
        <p class="lead">We apply cutting-edge deep learning techniques together with traditional methods to create optimal solutions for our clients.</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-default shadow border-0">
          <img src="{{ '/assets/img/theme/img-1-1200x1000.jpg' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
            </svg>
            <h4 class="display-4 text-white">Deep Learning</h4>
            <p class="lead text-italic text-white"><i><q>AI is the new electricity. Just as 100 years ago electricity transformed industry after industry, AI will now do the same.</q><br><br>- <b>Andrew Ng</b><br> Chief Scientist at Baidu</i></p>
          </blockquote>
        </div>
      </div>
      <div class="col-lg-7 p-sm-0">
        <div class="row">
          <div class="col-md-6">
            <div class="info info-hover-warning">
              <div class="icon icon-shape bg-warning shadow rounded-circle text-primary">
                <i class="ni ni-chat-round text-white"></i>
              </div>
              <h5 class="info-title">Natural Language Processing</h5>
              <p class="description opacity-8">From Naive Bayes to Transformer-XL, we apply both traditional and the latest neural network approaches, we are able to solve your text, chat, speech and hybrid tasks.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-hover-info">
              <div class="icon icon-shape bg-info shadow rounded-circle text-primary">
                <i class="ni ni-glasses-2 text-white"></i>
              </div>
              <h5 class="info-title">Computer Vision</h5>
              <p class="description opacity-8">Experienced in using the latest deep learning methods, such as Generative Adversarial Networks and in building real-time object detection systems, we are able to solve your 2D/3D image and video tasks.</p>
            </div>
          </div>
        </div>
        <div class="row mt-lg-4">
          <div class="col-md-6">
            <div class="info info-hover-danger">
              <div class="icon icon-shape bg-danger shadow rounded-circle text-primary">
                <i class="ni ni-spaceship text-white"></i>
              </div>
              <h5 class="info-title">Data Strategy</h5>
              <p class="description opacity-8">Starting from data annotation strategies, to building data pipelines, lakes and warehousing, we have the experience your organisation needs.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-hover-success">
              <div class="icon icon-shape bg-success shadow rounded-circle text-primary">
                <i class="ni ni-sound-wave text-white"></i>
              </div>
              <h5 class="info-title">Optimisation</h5>
              <p class="description opacity-8">Achieving suboptimal results? Leverage our years of experience in the art and science of optimisation, and realise the full potential of AI</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>  
  <section class="mt-4" id="contact">
    <div class="row mt-5 mb-4 pt-5">
      <div class="col-md-8 ml-auto mr-auto text-center mt-5">
        <span class="badge badge-primary badge-pill mb-3" style="background-color: #5acef2;">Get in touch</span>
        <h1 class="title">Tell us about <b>your business</b></h1>
        <h4 class="desc">If you have questions or you would like to speak to one of our team, send us a message.</h4>
      </div>
    </div>
  
    <div class="contactus-1 fullWidth">
      <div class="container">
        <div class="row">
          {% if site.data.settings.contact_settings.form_action %}
          <div class="col-lg-8 col-md-12 ml-auto mr-auto">
            <div class="card card-contact card-raised">
  
              <form method="post" action="{{ site.data.settings.contact_settings.form_action }}" id="contact-form">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>First name</label>
                        <div class="input-group mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                          </div>
                          <input class="form-control" name="First Name" placeholder="First Name..."
                            aria-label="First Name..." type="text">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 pl-2">
                      <div class="form-group">
                        <label>Last name</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-collection"></i></span>
                          </div>
                          <input type="text" class="form-control" name="Last Name" placeholder="Last Name..."
                            aria-label="Last Name...">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Email address</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Email Here..." name="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Your message</label>
                    <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="custom-control custom-checkbox mt-2">
                        <input type="hidden" name="_next"
                          value="{{ site.data.settings.contact_settings.confirmation_url }}" />
                        <input type="hidden" name="_subject"
                          value="{{ site.data.settings.contact_settings.email_subject }}" />
                        <input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">
  
                        <input class="custom-control-input" id="customCheck" type="checkbox" required>
                        <label class="custom-control-label" for="customCheck">
                          <span>I'm not a robot</span>
                        </label>
  
                      </div>
                    </div>
                    <div class="col-md-6">
                      <button type="submit"
                        class="btn btn-primary pull-right">{{ site.data.settings.contact_settings.send_button_text }}</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          {% else %}
          <div class="col-lg-5 col-md-7 ml-auto mr-auto">
            <div class="card card-contact card-raised">
              <div class="card-header text-center">
                <h4 class="card-title">Contact Us</h4>
              </div>
  
              <form method="post" action="" id="contact-form">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>First name</label>
                        <div class="input-group mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                          </div>
                          <input class="form-control" name="First Name" placeholder="First Name..."
                            aria-label="First Name..." type="text">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 pl-2">
                      <div class="form-group">
                        <label>Last name</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-collection"></i></span>
                          </div>
                          <input type="text" class="form-control" name="Last Name" placeholder="Last Name..."
                            aria-label="Last Name...">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Email address</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Email Here..." name="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Your message</label>
                    <textarea name="message" class="form-control" id="message" rows="6" disabled></textarea>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p>This form cannot be submitted right now. If you are the site owner, refer to the theme
                        documentation for help.</p>
                    </div>
                  </div>
                </div>
              </form>
  
            </div>
          </div>
        </div>
  
        {% endif %}
      </div>
    </div>
    </div>
  </section>
